* {
  margin: 0px;
  padding: 0px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=1060&t=st=1721562573~exp=1721563173~hmac=d31bce0a1c4c6ac9b9ceb8fe4d0c68e7ba9b22f876a312b5cdbb68a9f5e73b19);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.head1 {
  margin-left: 530px;
  padding: 15px;
  text-transform: uppercase;
}

.head-pg1 {
  text-align: justify;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  border-bottom: 3px solid white;
  text-transform: capitalize;
}

.customer-name {
  padding: 20px 0 5px;
  margin-left: 430px;
  text-transform: capitalize;
}

.title-box1 {
  padding: 10px;
  margin-left: 520px;
}

.title-box1 input {
  padding: 5px;
}

.address h3 {
  padding: 20px 0 5px;
  margin-left: 410px;
  text-transform: capitalize;
}

.address input {
  margin-left: 535px;
  padding: 5px;
  text-transform: capitalize;
  width: 580px;
}

.place {
  margin-left: 533px;
  padding: 5px;
  text-transform: capitalize;
  width: 600px;
}

.place input {
  padding: 5px;
}

.contact1 {
  margin-left: 530px;
  padding: 5px;
  text-transform: capitalize;
}

.contact1 input {
  padding: 5px;
  width: 280px;
}
.contact2 {
  margin-left: 530px;
  padding: 5px;
  text-transform: capitalize;
}
.contact2 input {
  padding: 5px;
  width: 280px;
}
.footer {
  margin-top: 20px;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  font-weight: lighter;
}
.contact1 input {
  margin-top: 5px;
 }
 